* {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
    background: #36465d;
}

#hover {
    position: fixed;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background: black;
}

#main-content {
    top: 0;
    padding: 64px 0 0;
}

.comment .content {
    position: relative;
    top: 9px;
}

hr {
    margin: 10px 0;
}

#footer {
    width: 100%;
    height: 64px;
    background: black;
}