body {
    font-family: 'Times New Roman', Times, serif;
}

table, th, td {
	border-width: 1px;
	border-color: #bdbfcc;
    border-style: solid;
    padding: 3px 20px 3px 6px;
}

table {
    font-family: Arial;
	border-collapse: collapse;
}

th {
    -webkit-user-select: none;
    cursor: pointer;
    color: white;
    background-color: #031a80;
    text-align: left;
}

th.sorting_ascending, th.sorting_descending {
    background-repeat: no-repeat;
	background-position: right;
    background-color: #a7aefc;
}

th.sorting_ascending {
    background-image: url("images/ascend.png")
}

th.sorting_descending {
    background-image: url("images/descend.png")
}

tbody tr:nth-child(even) {
	background-color: #dddddd;
}

tbody tr:nth-child(odd) {
	background-color: white;
}
