extends layout

block content
	#main_content
		h1 User Detail
		.detail
			span.head Name:
			span #{user.name}
		.detail
			span.head ID:
			span #{user.id}
		.detail
			span.head Tel:
			span #{user.tel}
		.detail
			span.head E-mail:
			span #{user.email}
		.detail
			a(href='/signup')
				.button back