* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    font-size: 12pt;
}

body {
    background-image: url("index_background.png");
}

/*div#header h1 {
    color: #A4A400;
    font-family: 'Brush Script MT', 'Brush Script Std', sans-serif;
    text-align: center;
    font-size: 70pt;
    font-weight: bold;
}*/

div {
    display: block;
}

    div.top {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        width: 100%;
        height: 100px;
        overflow: hidden;
        z-index: 99;
    }

        div.top ul {
            list-style-type: none;
            margin: 0 20px 0 0;
            float: right;
            line-height: 60px;
        }

            div.top ul li {
                margin: 20px 5px 20px 20px;
                display: inline-block;
            }

            div.top ul a {
                color: #FFFFFF;
                padding: 0 10px 0 10px;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                font-weight: 700;
                position: relative;
                opacity: 0.8;
                border-radius: 8px;
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
            }

                div.top ul a:hover {
                    color: #FFFFFF;
                    opacity: 1;
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
                }

    div.main_frame {
        margin: 0 auto 0 auto;
        height: 700px;
        position: relative;
        width: 100%;
    }

    div.wrapper {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    div.welcome h1 {
        font-family: 'Brush Script MT', 'Brush Script Std', sans-serif;
        font-size: 100px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 1px 1px 10px #000;
    }

    div.start_tour {
        margin: 0 32px 0 32px;
        padding: 32px 64px 32px 64px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    div.start_tour h1 {
        text-align: center;
        font-size: 14pt;
        color: #FFFFFF;
    }

a.logo {
    background: url("grannys_pie_logo.png") left top/300px 60px no-repeat;
    width: 300px;
    height: 60px;
    opacity: 0.8;
    float: left;
    margin: 20px 0 0 20px;
}

a.start_tour_button {
    margin: 32px auto 0 auto;
    color: #FFFFFF;
    font-weight: bold;
    width: 140px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 128px 16px 128px;
    border-radius: 8px;
    background-color: #56B68B;
}

a.start_tour_button:hover {
    opacity: 0.9;
}

div.footer {
    margin: 32px auto auto auto;
}

div.footer h1 {
    text-align: center;
}