extends ../header

block content
	#main_content.detail(ng-controller='newPostCtrl')
		h1 New Post
		form(name='newPostForm')
			.form
				input.textfield(type='text', ng-model='title', placeholder='Title')
			.form
				input.textfield(type='text', ng-model='content', placeholder='Content')
			.form
				button#submit(name='submit', ng-click='submit()') Sign In
			{{show}}