doctype html
html
	head
		script(type='text/javascript' src='/javascripts/angular.min.js')
		script(type='text/javascript' src='/javascripts/app.js')
	body(ng-app='blog')
		div(ng-include='htmlContent', ng-controller='mainCtrl')
