doctype html
html
	head
		script(type='text/javascript' src='/javascripts/angular.min.js')
		script(type='text/javascript' src='/javascripts/moment.min.js')
		script(type='text/javascript' src='/javascripts/jquery-2.2.0.min.js')
		script(type='text/javascript' src='/javascripts/app.js')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='blog', ng-controller='mainCtrl')
		#hover
			#signin-form(ng-show='showSignInFormFlag')
				h1 Sign In
				form(name='signinForm')
					.form
						input.textfield(type='text', ng-model='signinUser.name', placeholder='Username')
					.form
						input.textfield(type='password', ng-model='signinUser.pwd', placeholder='Password')
					.form
						button#submit(ng-click='submitSignIn()') Sign In
					.form
						button#close(ng-click='hideSignInForm()') close
			#signup-form(ng-show='showSignUpFormFlag')
				h1 Sign Up
				form(name='signupForm')
					.form
						input.textfield(type='text', ng-model='signupUser.name', placeholder='Username')
					.form
						input.textfield(type='password', ng-model='signupUser.pwd', placeholder='Password')
					.form
						input.textfield(type='password', ng-model='signupUser.rpwd', placeholder='Repeat your password')
					.form
						input.textfield(type='text', ng-model='signupUser.email', placeholder='E-mail address')
					.form
						button.submit(ng-click='submitSignUp()') Sign Up
					.form
						button.close(ng-click='hideSignUpForm()') close
			#detail-form(ng-show='showUserDetailFlag')
				h1 User Detail
				.detail
					span.head Name:
					span {{showUser.name}}
				.detail
					span.head E-mail:
					span {{showUser.email}}
				.form
					button.close(ng-click='hideUserDetail()') close
		#header
			button#signin.btn.btn-default(ng-show='!signedUser', ng-click='showSignInForm()')
				span.glyphicon.glyphicon-log-in
				span  Sign In
			button#signup.btn.btn-primary(ng-show='!signedUser', ng-click='showSignUpForm()')
				span.glyphicon.glyphicon-cloud-upload
				span  Sign Up
			button#detail.btn.btn-default(ng-show='!!signedUser', ng-click='showUserDetail(signedUser)')
				span.glyphicon.glyphicon-user
				span  {{signedUser.name}}
			button#signout.btn.btn-warning(ng-show='!!signedUser', ng-click='signOut()')
				span.glyphicon.glyphicon-log-out
				span  Sign Out
		#main-content.container
			.post-container.row(ng-repeat='post in posts')
				pre.post(id='post{{$index}}')
					.show-post(ng-show='!post.showEditPostFormFlag')
						h2.title.text-primary {{post.title}}
							small.time     {{momentFromNow(post.time)}}
						pre.content {{post.content}}
						p.buttom-info
							span.author.text-primary.btn(ng-click='showUserDetail(post.author)') {{post.author.name}}
							span.reply.text-primary.btn(ng-click='toggleComment(post)') reply{{post.commentCount ? '(' + post.commentCount + ')' : undefine}}
							span.edit.text-primary.btn(ng-show='signedUserIsEqualWith(post.author)', ng-click='showEditPostForm(post)') edit
							span.delete.text-danger.btn(ng-show='signedUserIsEqualWith(post.author)', ng-click='submitDeletePost(post._id)') delete
						.comment-container.container(ng-show='post.showCommentFlag')
							.new-comment-form(ng-show='signedUser')
								.form.input-group
									input.form-control(type='text', ng-model='post.newComment.content', placeholder='Comment Content')
									span.input-group-btn
										button.submit.btn.btn-success(ng-click='submitNewComment(post, post.newComment)') Submit
								hr
							.comment(ng-repeat='comment in post.comments')
								.show-comment(ng-show='!comment.showEditCommentFormFlag')
									.author-content.btn-group
										span.author.text-primary.btn {{comment.author.name}}: 
										span.content {{comment.content}}
									p.buttom-info
										span.time.text-muted.btn-sm{{momentFromNow(comment.time)}}
										span.edit.text-primary.btn.btn-sm(ng-show='signedUserIsEqualWith(comment.author)', ng-click='showEditCommentForm(comment)') edit
										span.delete.text-danger.btn.btn-sm(ng-show='signedUserIsEqualWith(comment.author)', ng-click='submitDeleteComment(comment._id, post)') delete
								.edit-comment(ng-show='comment.showEditCommentFormFlag')
									.form.input-group
										input.form-control(type='text', ng-model='comment.editComment.content', placeholder='Comment Content')
										span.input-group-btn
											button.btn.btn-success(ng-click='submitEditComment(comment)') Edit
											button.btn.btn-warning(ng-click='hideEditComment(comment)') Cancel
								hr
					.edit-post.container(ng-show='post.showEditPostFormFlag')
						.input-group.btn-block
							input.form-control.btn-block(type='text', ng-model='post.editPost.title', placeholder='Title')
							textarea.form-control.btn-block(type='text', ng-model='post.editPost.content', placeholder='Post Content')
						.form.btn-block
							button.btn.btn-success(ng-click='submitEditPost(post)') Submit
							button.btn.btn-warning(ng-click='hideEditPostForm(post)') Cancel
			#new-post-form(ng-show='showNewPostFormFlag')
				.form
					input.title(type='text', ng-model='newPost.title', placeholder='Title')
				.form
					textarea.content(type='text', ng-model='newPost.content', placeholder='Post Content')
				.form
					button.submit(ng-click='submitNewPost()') Submit
				.form
					button.close(ng-click='hideNewPostForm()') Cancel
			button#new-post-btn(ng-show='!showNewPostFormFlag&&signedUser', ng-click='showNewPostForm()') New Post
		#footer
			p Copyright Tidyzq, 2015-2016. All rights reserved.
