extends ../header

block content
	#main_content.detail(ng-controller='detailCtrl')
		h1 User Detail
		.detail
			span.head Name:
			span {{showUser.name}}
		.detail
			span.head E-mail:
			span {{showUser.email}}
		{{show}}