extends ../header

block content
	#main_content.signin(ng-controller='signinCtrl')
		h1 Sign In
		form(name='signinForm')
			.form
				input.textfield(type='text', ng-model='name', placeholder='Username')
			.form
				input.textfield(type='password', ng-model='pwd', placeholder='Password')
			.form
				button#submit(name='submit', ng-click='submit()') Sign In
			{{show}}
