* {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
}

#header h1, #description h2 {
    font-weight: normal;
    text-align: center;
    line-height: 50px;
}

#status {
    text-align: center;
    margin: auto;
}

#moles_content {
    position: relative;
    margin: auto;
    width: 810px;
    height: 570px;
}

div.mole, div.mole_active, div.mole_wrong {
    margin: 1px 1px 1px 1px;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    float: left;
}

div.mole {
    -webkit-transition-duration: 0.1s;
    background-color: gainsboro;
}

div.mole:active {
    background-color: crimson;
}

div.mole_active {
    -webkit-transition-duration: 0.1s;
    background-color: dodgerblue;
}

div.mole_active:active {
    background-color: royalblue;
}

#tutorial {
    width: 800px;
    margin: auto;
}